<% if obj.errors.any? %>
<div>
  
  <div class="alert alert-danger alert-dismissible show' role="alert">
    <button type="button" id="close" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5><%= pluralize(obj.errors.count, "error") %> prohibited this user from being saved:</h5>
      <ul>
        <strong>Error!</strong> 
      
        <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li> 
        <% end %>
      </ul>
    </div>
</div>
<% end %>

<script>
  new deleteErrors;
</script>